<table class="tables">

  <tr>
    <th> <%= label_tag(:name)%></th>
    <th> <%= text_field_tag(:name)%></th>
  </tr>

  <tr>
    <th> <%= label_tag(:isbn)%></th>
    <th> <%= text_field_tag(:isbn)%></th>
  </tr>

  <tr>
    <th> <%= label_tag(:authors)%></th>
    <th> <%= text_field_tag(:authors)%></th>
  </tr>

  <tr>
    <th> <%= label_tag(:description)%></th>
    <th> <%= text_field_tag(:description)%></th>
  </tr>

</table>