<h1>New Book</h1>

<%= form_tag :action => 'update_profile' do %>
    <%= render 'form' %>
    </br>
    <%= submit_tag "Add"%>
<% end %>
<br>
<%= link_to 'Back', books_path %>

<br> <br>

<%= render 'footer'%>
