<h1>Welcome Member</h1>
<%=  flash[:notice]%>

<table class="tables">

  <tr>
    <th> <%= link_to "Edit Profile Details", action: 'edit_profile_new'%></th>
  </tr>

  <tr>
    <th> <%= link_to "See Books", controller: 'books', action: 'index' %></th>
  </tr>

  <tr>
    <th> <%= link_to "View Book Suggestions", controller: 'books', action: 'suggestions_index' %></th>
  </tr>

  <tr>
    <th> <%= link_to "View Checkout History", controller: 'users', action: 'checkouts' %></th>
  </tr>

</table>
<br> <br>
<%= link_to "Go to Homepage", controller: 'login', action: 'member_landing' %><br><br>
<%= link_to "Logout", controller: 'login', action: 'logout' %>
